# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
venv/
env/
ENV/
.venv/

# PyCharm
.idea/
*.iml

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db